{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="author-profile">
        <header class="author-header text-center">
            {% if author.avatar %}
                <img src="{{ author.avatar }}" alt="{{ author.name }}">
            {% endif %}
            <h1>{{ author.name }}</h1>

            {% if author.description %}
                <p>{{ author.description }}</p>
            {% endif %}

            {# Optional: Display author social links if available #}
            {% if author.meta('twitter') or author.meta('linkedin') or author.meta('website') %}
                <div class="author-social">
                    {% if author.meta('twitter') %}
                        <a href="https://twitter.com/{{ author.meta('twitter') }}" target="_blank">
                            Twitter
                        </a>
                    {% endif %}
                    {% if author.meta('linkedin') %}
                        <a href="{{ author.meta('linkedin') }}" target="_blank">
                            LinkedIn
                        </a>
                    {% endif %}
                    {% if author.meta('website') %}
                        <a href="{{ author.meta('website') }}" target="_blank">
                            Website
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </header>

        {# Display author's latest posts #}
        {% if posts %}
            <section class="author-posts">
                <h2>Latest Posts by {{ author.name }}</h2>

                {% for post in posts %}
                    <article>
                        <h3>
                            <a href="{{ post.link }}">{{ post.title }}</a>
                        </h3>
                        <p>{{ post.date }}</p>
                        <p>{{ post.excerpt }}</p>
                    </article>
                {% endfor %}

                {# Pagination #}
                {% include 'partials/pagination.twig' with {
                    pagination: posts.pagination({
                        show_all: false,
                        mid_size: 3,
                        end_size: 2
                    })
                } %}
            </section>
        {% else %}
            <p>This author has not published any posts yet.</p>
        {% endif %}
    </div>
{% endblock %}
